/* css reset */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/* style */

.globalHeader {
  margin: 20px;
}
@media (min-width: 500px) {
  body {
    width: 100%;
    height: 100%;
    background: url(https://api.sunweihu.com/api/bing1/api.php) no-repeat;
    -moz-background-size: cover; /*背景图片拉伸以铺满全屏*/
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .globalHeader {
    margin: 60px 0 100px;
  }
}
.searchForm {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .searchForm {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.searchForm > input {
  width: 100%;
  height: 40px;
  margin-right: 10px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline-style: none;
}
.searchForm > button {
  white-space: nowrap; /*文字不换行*/
  padding: 0 28px;
  border: none;
  border-radius: 4px;
  background: #146ef4;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.searchForm > button:hover {
  background: #0e52b8;
}
.globalMain {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.siteList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .siteList {
    margin-right: -25px;
    margin-left: 0px;
    justify-content: flex-start;
  }
  .siteList > li {
    margin-bottom: 10px;
    margin-right: 20px;
  }
}

.siteList > li {
  margin-bottom: 10px;
}
.siteList .site {
  border: 1px solid #ddd;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  opacity: 0.8;
  border-radius: 5;
  padding: 20px 0;
  position: relative;
  cursor: pointer; /*鼠标变手型*/
}
.siteList .site:hover,
.siteList .addButton:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
  background: #fff;
  opacity: 1;
}
.siteList .site > .logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
.siteList .site > .close {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  cursor: default;
}
.siteList .site:hover > .close {
  display: block;
}
.siteList .site > .link {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton {
  background: #fff;
  opacity: 0.8;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
.siteList .addButton .icon {
  width: 56px;
  height: 56px;
}
.siteList .addButton .icon-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteList .addButton .text {
  font-size: 14px;
  margin-top: 4px;
}
